{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags}Kniha jízd - ITU{/block}</title>

    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery-ui.min.css">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/fullcalendar.min.css">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/style.css">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    {block head}{/block}
</head>

<body>
    <script> document.documentElement.className+=' js' </script>

        <div id="head_pack">
            <div id="top_head">
                <div id="head_top_left">
                    <h1><a n:href="Homepage:default">Kniha jízd</a></h1>
                </div>
                <div id="head_top_right">
                    {*&copy; Radim Křek 2014*}
                    {if $user->isLoggedIn()}
                    	Přihlášen:&nbsp;{$user->getIdentity()->data['username']}<br>
                    	Role:&nbsp;{if $user->getIdentity()->roles[0] == 0}Administrator{elseif $user->getIdentity()->roles[0] == 1}Řidič{else}Uživatel{/if}
                    {/if}
                </div>
            </div>
            <div id="menu_pack">
                <div id="main_menu">
                    <div id="main_menu_left">
                    {if $user->isLoggedIn()}
                        <span class="menu_item{ifCurrent 'Homepage:default'} active{/ifCurrent}"><a n:href="Homepage:default">Přehled</a></span>
                        <span class="menu_item{ifCurrent 'Homepage:calendar'} active{/ifCurrent}"><a n:href="Homepage:calendar">Kalendář</a></span>
                        <span class="menu_item{ifCurrent 'Vozidlo:default'} active{/ifCurrent}"><a n:href="Vozidlo:default">Vozidla</a></span>
                        {if $user->isInRole(0)}<span class="menu_item{ifCurrent 'Uzivatel:default'} active{/ifCurrent}"><a n:href="Uzivatel:default">Uživatelé</a></span>{/if}
                        <span class="menu_item{ifCurrent 'Homepage:add'} active{/ifCurrent}"><a n:href="Homepage:add">Přidat jízdu</a></span>
                        {if $user->isInRole(0)}
                            <span class="menu_item{ifCurrent 'Vozidlo:add'} active{/ifCurrent}"><a n:href="Vozidlo:add">Přidat vozidlo</a></span>
                            <span class="menu_item{ifCurrent 'Uzivatel:add'} active{/ifCurrent}"><a n:href="Uzivatel:add">Přidat uživatele</a></span>
                        {/if}
                    {/if}
                    </div>
                    <div id="main_menu_right">
                        <span class="menu_item signOut"><a  href="{if $user->isLoggedIn()}{link Sign:out}{else}{link Sign:in}{/if}">{if $user->isLoggedIn()}Odhlásit{else}Přihlásit{/if}</a></span>
                        <span n:if="$user->isLoggedIn()" class="menu_item menu_right{ifCurrent 'Uzivatel:edit'} active{/ifCurrent}"><a n:href="Uzivatel:edit $user->getIdentity()->id">Nastavení účtu</a></span>
                    </div>
                </div>
            </div>
            <div class="cleaner"></div>
        </div>
        <div class="cleaner"></div>
        <div id="content_pack">
            <div n:foreach="$flashes as $flash" n:class="flash, alert, $flash->type, alert-dismissible, fade, in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                   </button>
                {$flash->message}
            </div>
            {include content}
        </div>

	{block scripts}        
        <script src="{$basePath}/js/jquery-1.11.1.min.js"></script>
        <script src="{$basePath}/js/moment.min.js"></script>
        <script src="{$basePath}/js/bootstrap.min.js"></script>
        <script src="{$basePath}/js/jquery-ui.min.js"></script>
        <script src="{$basePath}/js/fullcalendar.min.js"></script>
        <script src="{$basePath}/js/lang-all.js"></script>
        {snippet scripts}
            <script src="{$basePath}/js/main.js"></script>
        {/snippet}
	{/block}
</body>
</html>
