{block content}
<h1>Přidat vozidlo</h1>
	<div class="form-center w800">
        {form vozidloForm}
            <div class="row form-group">
                <div class="col-lg-2">
                    {label nazev /}
                </div>
                <div class="col-lg-10">
                    {input nazev}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-2">
                    {label spz /}
                </div>
                <div class="col-lg-10">
                    {input spz}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-2">
                    {label tachometr /}
                </div>
                <div class="col-lg-10">
                    <div class="input-group">
						{input tachometr}
						<span class="input-group-addon" id="basic-addon2">
							Km
						</span>
					</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-2">
                    {label stk /}
                </div>
                <div class="col-lg-10">
                    <div class="input-group">
						{input stk}
						<span class="input-group-addon" id="basic-addon2">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
                </div>
            </div>
            <div class="row col-lg-2">
                {input save}
            </div>
        {/form}
	</div>
{/block}

{block scripts}
{include parent}
<script>
	jQuery(document).ready(function() {
		$("#datum").datepicker();
		$.datepicker.setDefaults( $.datepicker.regional[ "cs" ] );
	});
</script>
{/block}