{block content}
<h1>Přidat jízdu</h1>
    <div class="form-center w800">
        {form bookForm}
            <div class="row form-group">
                <div class="col-lg-2">
                    {label datum /}
                </div>
                <div class="col-lg-10">
                    <div class="input-group">
                    	{input datum}
                    	<span class="input-group-addon" id="basic-addon2">
                    		<span class="glyphicon glyphicon-calendar"></span>
                    	</span>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-2">
                    {label start /}
                </div>
                <div class="col-lg-10">
                    {input start}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-2">
                    {label cil /}
                </div>
                <div class="col-lg-10">
                    {input cil}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-2">
                    {label typ /}
                </div>
                <div class="col-lg-10">
                    {input typ}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-2">
                    {label id_vozidla /}
                </div>
                <div class="col-lg-10">
                    {input id_vozidla}
                </div>
            </div>

            <div n:if="$user->isInRole(0)" class="row form-group">
                <div class="col-lg-2">
                    {label stav /}
                </div>
                <div class="col-lg-10">
                    {input stav}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-2">
                    {label vzdalenost /}
                </div>
                <div class="col-lg-10">
                    <div class="input-group">
						{input vzdalenost}
						<span class="input-group-addon" id="basic-addon2">
							Km
						</span>
					</div>
                </div>
            </div>

            <div class="row form-group">
				<div class="col-lg-2">
					<label n:name="done">
						{$form['done']->caption}
					</label>
				</div>
				<div class="col-lg-10">
					{input done:}&nbsp; {$form['done']->getOption('description')}
				</div>
			</div>

            <div class="row col-lg-2">
                {input save}
            </div>
        {/form}
    </div>
{/block}

{block scripts}
{include parent}
<script>
	jQuery(document).ready(function() {
		$("#datum").datepicker();
		$.datepicker.setDefaults( $.datepicker.regional[ "cs" ] );
		$("#datum").datepicker('setDate', new Date());


	});
</script>
{/block}