{block content}
	{snippet table}
	    <div id="table_pagination">
            <table class="admin_pages">
                <thead>
                    <tr class="row header">
                        <th class="col-sm-1">Datum</th>
                        <th class="col-sm-3">Start</th>
                        <th class="col-sm-3">Cíl</th>
                        <th class="col-sm-1">Vzdálenost</th>
                        <th class="col-sm-1">Typ</th>
                        <th class="col-sm-2">Stav</th>
                        <th class="col-sm-1">&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr n:foreach="$routes as $route" class="row {if $iterator->isOdd()}odd{else}even{/if}{if $iterator->isLast()} last{/if}">
                        <td class="col-sm-1">{$route->getDatum()|date:"%d. %m. %Y"}</td>
                        <td class="col-sm-2">{$route->getStart()}</td>
                        <td class="col-sm-2">{$route->getCil()}</td>
                        <td class="col-sm-1">{$route->getVzdalenost()} Km</td>
                        <td class="col-sm-1">{$route->getTypeAsString()}</td>
                        <td class="col-sm-2"><span class="label label-info">{$route->getStateAsString()}</span></td>
                        <td class="col-sm-2 icons">
                            <ul class="icons">
                            	<a n:href="Homepage:detail $route->getId()">
									<li class="ui-state-default ui-corner-all" onmouseover="jQueryUiHover(this)" onmouseout="jQueryUiHover(this)" title="Detail">
										<span class="ui-icon ui-icon-info"></span>
									</li>
								</a>
                                <a n:href="Homepage:add $route->getId()">
                                    <li class="ui-state-default ui-corner-all" onmouseover="jQueryUiHover(this)" onmouseout="jQueryUiHover(this)" title="Editovat">
                                        <span class="ui-icon ui-icon-pencil"></span>
                                    </li>
                                </a>
                                <a href="#">
									<li class="ui-state-default ui-corner-all" onmouseover="jQueryUiHover(this)" onmouseout="jQueryUiHover(this)" title="Stáhnout jako PDF">
										<span class="ui-icon ui-icon-disk"></span>
									</li>
								</a>
                                {if $user->isInRole(0)}
                                    <a n:href="smazBook! $route->getId()">
                                        <li class="ui-state-default ui-corner-all" onmouseover="jQueryUiHover(this)" onmouseout="jQueryUiHover(this)" title="Smazat">
                                            <span class="ui-icon ui-icon-trash"></span>
                                        </li>
                                    </a>
                                {/if}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            <ul class="pagination">
                <li>
                  <a {if !$paginator->first} href="{link Homepage:default page=>($paginator->getPage()-1)}" {/if} aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {var $page = 1}
                <li n:while="$page <= $paginator->getPageCount()" {if $page == $paginator->getPage()}class="active"{/if}>
                    <a n:href="Homepage:default page=>$page">{$page++}</a>
                </li>
                <li>
                  <a {if !$paginator->last} href="{link Homepage:default page=>($paginator->getPage()+1)}"{/if} aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
            </ul>
        </div>

	{/snippet}
{/block}