{block content}
<h1>Detail jízdy</h1>
<div id="table_pagination">
<table class="admin_pages">
	<thead>
		<tr class="header">
			<th class="col-sm-7"></th>
			<th class="col-sm-4"></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td class="col-sm-7">Datum:</td>
			<td class="col-sm-4">{$route->getDatum()|date:'%d. %m. %Y'}</td>
		</tr>
		<tr>
			<td class="col-sm-7">Start:</td>
			<td class="col-sm-4">{$route->getStart()}</td>
		</tr>
		<tr>
			<td class="col-sm-7">Cíl:</td>
			<td class="col-sm-4">{$route->getCil()}</td>
		</tr>
		<tr>
			<td class="col-sm-7">Vzdalenost:</td>
			<td class="col-sm-4">{$route->getVzdalenost()}&nbsp;Km</td>
		</tr>
		<tr>
			<td class="col-sm-7">Vozidlo:</td>
			<td class="col-sm-4">{$route->getVozidlo()->getNazev()}</td>
		</tr>
	</tbody>

</table>
<br>
<div class="admin_pages" n:snippet="vydajeForm">
	<div class="header"><span>Přidat výdaj<span></div>
	<div class="form_body">
		{form pridatVydaj}
			<div class="row form-group">
				<div class="control-label col-lg-1">
					{label title/}
				</div>
				<div class="col-lg-11">
					{input title}
				</div>
			</div>

			<div class="row form-group">
				<div class="control-label col-lg-1">
					{label price/}
				</div>
				<div class="col-lg-11">
					{input price}
				</div>
			</div>

			<div class="row form-group">
				<div class="control-label col-lg-1">

				</div>
				<div class="col-lg-11">
					<div class="col-md-1 pull-right">
						{input save}
					</div>
				</div>
			</div>

		{/form}
	</div>
</div>
<br>

<table class="admin_pages" n:snippet="vydaje">
	<thead>
		<tr class="header">
			<th class="col-sm-7">Výdaje</th>
			<th class="col-sm-4">Cena</th>
			<th class="col-sm-1"></th>
		</tr>
	</thead>

	<tbody>
        <tr n:foreach="$vydaje as $vydaj" class="{if $iterator->isOdd()}odd{else}even{/if}{if $iterator->isLast()} last{/if}">
			<td class="col-sm-7">{$vydaj->getTitle()}</td>
			<td class="col-sm-4">{$vydaj->getPrice()}</td>
			<td class="col-md-1 icons">
				<a href="#">
					<li class="ui-state-default ui-corner-all" onmouseover="jQueryUiHover(this)" onmouseout="jQueryUiHover(this)" title="Smazat">
						<span class="ui-icon ui-icon-trash"></span>
					</li>
				</a>
			</td>
		</tr>
	</tbody>
</table>
</div>