@import "/variables.less";
@imagesPath: "/../../images/";

#head_pack
{
	background: #3E3E3E;
	width: 100%;
    min-width: 350px;
	height: 120px;
	position: absolute;
	#menu_pack
	{
		width: 100%;
		height: 35px;

		margin-top: 80px;

		#main_menu
		{
			background: #545454;
			background: -moz-linear-gradient(top,  #545454 0%, #6c6c6c 1%, #5f5f5f 2%, #404040 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(1%,#6c6c6c), color-stop(2%,#5f5f5f), color-stop(100%,#404040));
			background: -webkit-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
			background: -o-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
			background: -ms-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
			background: linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#404040',GradientType=0 );

			width: 100%;
			height: 35px;

			#main_menu_left
			{
				margin-left: 10px;
				//width: 80%;
				float: left;
			}

			#main_menu_right {
				margin-left: -10px;
				//width: 20%;
				float: right;
			}

			.menu_item
			{
				height: 30px;
				color: #FFFFFF;
				margin-right: 2px;
				position: relative;
				top: 7px;

				a{
					&:hover, &:active, &:link, &:visited{
						color: #FFFFFF;
						text-decoration: none;
						padding: 4px 10px 4px 10px;
					}
					&:hover{
						height: 30px;
						border-radius: 10px;
						background: #3E3E3E;
					}
				}

				&.active {
					a{
						&:hover, &:active, &:link, &:visited{
							height: 30px;
							padding: 4px 10px 4px 10px;
							border-radius: 10px;
							background: #3e3e3e;
						}
					}
				}

				&.signOut{
					float: right;
					margin-right: 20px;
					a{
						&:hover{
							color: red;
						}
					}
				}
			}
		}
	}
	#top_head
	{
		width: 100%;

		#head_top_left
		{
			width: 60%;
			height: 50px;

			float: left;

			h1{
				margin-left: 20px;
				a{
					text-decoration: none;
					color: white;
				}
			}
		}

		#head_top_right
		{
			width: 40%;
			height: 50px;

			float: right;
			text-align: right;
			color: white;
		}
	}
}


#sub_menu
{
	background: #545454;
	background: -moz-linear-gradient(top,  #545454 0%, #6c6c6c 1%, #5f5f5f 2%, #404040 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(1%,#6c6c6c), color-stop(2%,#5f5f5f), color-stop(100%,#404040));
	background: -webkit-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
	background: -o-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
	background: -ms-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
	background: linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#404040',GradientType=0 );
	
	width: 100%;
	height: 35px;
}

.sub_menu_item
{
	heigh: 30px;
	color: #FFFFFF;

	position: relative;
	
	margin-left: 20px;
	top: 7px;
	
	a{
		&:hover, &:link, &:visited, &active{
			color: #FFFFFF;
			text-decoration: none;
		}
		&:hover, &:active{
			height: 30px;
			padding: 2px 10px 2px 10px;
			margin-left: -10px;
			margin-right: -10px;
			color: #8EA842;
			border-radius: 10px;	
			background: #3E3E3E;
		}
	}
}

#content_pack
{
	width: 100%;
	height: auto;
	margin: 0 auto 0;
	position: absolute;
	top: 120px;
	padding-top: 10px;

	h1{
		margin: 0 auto 0;
		text-align: center;
		margin-bottom: 20px;
	}

	.form-center{
		margin: 0 auto 0;
	}

	#admin_news, .admin_pages{
		margin: 0 auto 0;
		width: 100%;
		height: auto;
		.form_body{
			border-left: 1px solid black;
			border-right: 1px solid black;
			border-bottom: 1px solid black;
			padding: 10px;
		}
		.fc-toolbar{
			margin-bottom: 0 !important;
			padding: 5px 5px 0 5px;
			height: 40px;
		}

		tr{
			border-left: black solid 1px;
			border-right: black solid 1px;
			&.even{
				background: #F0F0F0;
			}
			&.odd{
				background: white;
			}
			&:hover{
				background: #D0D0D0;
			}
			&:last-child{
				border-bottom: black solid 1px;
			}
		}

		.icons{
			padding: 0 !important;
			a{
				float: right;
			}
		}

		.header, .fc-toolbar{
			background: #545454;
			background: -moz-linear-gradient(top,  #545454 0%, #6c6c6c 1%, #5f5f5f 2%, #404040 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(1%,#6c6c6c), color-stop(2%,#5f5f5f), color-stop(100%,#404040));
			background: -webkit-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
			background: -o-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
			background: -ms-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
			background: linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#404040',GradientType=0 );
			color: white;
			height: 35px;
			line-height: 35px;
			span{
				margin-left: 15px;
				font-weight: bold;
			}

			&:hover{
				background: #545454;
				background: -moz-linear-gradient(top,  #545454 0%, #6c6c6c 1%, #5f5f5f 2%, #404040 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(1%,#6c6c6c), color-stop(2%,#5f5f5f), color-stop(100%,#404040));
				background: -webkit-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
				background: -o-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
				background: -ms-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
				background: linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#404040',GradientType=0 );
			}
		}
	}
	.calendar{
		margin: 0 auto 0;
		width: 80%;
		#calendar-panel{
			.mt(10px);
			.w(18%);
			.left();
			h2{
				.tal();
			}

			.body{
				.border(black);
				.p(5px);
			}

			.box{
				width: 10px;
				height: 10px;
				border: solid 1px silver;
				float: left;
				.mt(5px);
				.mr(5px);
			}

		}
		#drive-calendar{
			.right();
			width: 80%;
			height: 400px;
			//margin-left: 30px;
			margin-top: 10px;
		}
		.fc-toolbar{
			background: #545454;
			background: -moz-linear-gradient(top, #545454 0%, #6c6c6c 1%, #5f5f5f 2%, #404040 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #545454), color-stop(1%, #6c6c6c), color-stop(2%, #5f5f5f), color-stop(100%, #404040));
			background: -webkit-linear-gradient(top, #545454 0%, #6c6c6c 1%, #5f5f5f 2%, #404040 100%);
			background: -o-linear-gradient(top, #545454 0%, #6c6c6c 1%, #5f5f5f 2%, #404040 100%);
			background: -ms-linear-gradient(top, #545454 0%, #6c6c6c 1%, #5f5f5f 2%, #404040 100%);
			background: linear-gradient(top, #545454 0%, #6c6c6c 1%, #5f5f5f 2%, #404040 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454', endColorstr='#404040', GradientType=0);
			color: white;
			margin-bottom: 0 !important;
			padding: 5px 5px 0 5px;
			height: 40px;
		}
	}
}

#menuList, #pageList{
	list-style-type: none;
	margin: 0;
	float: left;
	margin-right: 10px;
	background: #eee;
	padding: 5px;
	width: 320px;
	li{
		margin: 5px;
		padding: 5px;
		font-size: 1.2em;
		width: 300px;
		border: solid 1px #d3d3d3;
		background: #545454;
		background: -moz-linear-gradient(top,  #545454 0%, #6c6c6c 1%, #5f5f5f 2%, #404040 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(1%,#6c6c6c), color-stop(2%,#5f5f5f), color-stop(100%,#404040));
		background: -webkit-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
		background: -o-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
		background: -ms-linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
		background: linear-gradient(top,  #545454 0%,#6c6c6c 1%,#5f5f5f 2%,#404040 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#404040',GradientType=0 );
		border-radius: 5px;
		color: white;
		text-align: center;
		cursor: pointer;
	}
}

#ajax-spinner {
    position:fixed;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    background: white url('../images/spinner.gif') no-repeat  50% 50%;
    /*padding: 13px;*/
    /*border: 2px solid #CCC;*/
    font-size: 0;
}
.signin {
    width: 430px;
    height: auto;
    background: #EEEEEE;
	border-radius: 5px;
    margin: 0 auto 0;
    margin-top: 30px;
    padding: 5px 0 30px 0;

}
.form-signin table{
    width: 300px;
    margin: 0 auto 0;
}
.form-signin input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}
.form-signin .form-control {
    -moz-box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
#news_form, #pages_form{
	margin: 0 auto 0;
	width: 600px;
}

.icons{
	margin: 0;
	padding: 0;
	li{
		cursor: pointer;
		float: left;
		list-style: none outside none;
		margin: 2px;
		padding: 4px 4px 4px 4px;
		position: relative;
	}
}

#table_pagination{
	width: 80%;
	margin: 0 auto 0;
}

.pagination{
	float: right;
}

.pagination > .active > a{
	background-color: grey;
	border-color: grey;
}

.container-fluid{
	padding-top: 15px;
	margin: 0 auto 0;
}




@import "media.less";