.opacity(@opacity) {
	opacity: @opacity;
	// IE8 filter
	@opacity-ie: (@opacity * 100);
	filter: ~"alpha(opacity=@{opacity-ie})";
}
.rc (@radius: 4px) { .r-c(@radius); }
.r-c (@radius: 4px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}
.fonts (@size: 12px,@weight: normal ) { font-size: @size; font-weight: @weight; }
.fonts_i(@size: 12px) { font-size: @size !important; }
.fonts_i(@size: 12px,@weight: normal ) { font-size: @size !important; font-weight: @weight !important; }
.bgb(@color: transparent) { background: @color; border: 1px solid @color; }
.border0{ border: 0; }
.solid(@color) { border: 1px solid @color; }
.border (@color: transparent,@width: 1px,  @type: solid) { border: @width @type @color; }
.borderT (@color: transparent,@width: 1px, @type: solid ) { border-top: @width @type @color; }
.borderB (@color: transparent ,@width: 1px, @type: solid) { border-bottom: @width @type @color; }
.borderL (@color: transparent,@width: 1px, @type: solid ) { border-left: @width @type @color; }
.borderR (@color: transparent,@width: 1px, @type: solid ) { border-right: @width @type @color; }
.xxx{ border: 1px dotted #000; }
.nu{ text-decoration: none; }
.pointer{ cursor: pointer; }
.left{ float: left; }
.fl{ float: left; }
.right{ float: right; }
.fr{ float: right; }
.clear{ clear: both; }
.cBoth{ clear: both; }
.cfff{ color: #fff; }
.c000{ color: #000; }
.bfff{ background: #fff; }
.b000{ background: #000; }
.h(@height: auto) { height: @height; }
.wh(@width: auto, @height: auto) { width: @width; height: @height; }
.hw(@height: auto, @width: auto) { width: @width; height: @height; }
.bg(@attr) { background: @attr; }
.c(@color) { color: @color; }
.mp{ margin: 0; padding: 0; }
.pm{ padding: 0; margin: 0; }
.mp(@margin: 0px, @padding: 0px) { margin: @margin; padding: @padding; }
.pm(@padding: 0px, @margin: 0px) { margin: @margin; padding: @padding; }
.p(@padding: 0px) { padding: @padding; }
.p_i(@padding: 0px) { padding: @padding !important; }
.pt(@height: 0px) { padding-top: @height; }
.pt_i(@height: 0px) { padding-top: @height !important; }
.pr(@height: 0px) { padding-right: @height; }
.pr_i(@height: 0px) { padding-right: @height !important; }
.pb(@height: 0px) { padding-bottom: @height; }
.pb_i(@height: 0px) { padding-bottom: @height !important; }
.pl(@height: 0px) { padding-left: @height; }
.pl_i(@height: 0px) { padding-left: @height !important; }
.m(@margin: 0px) { margin: @margin; }
.m_i(@margin: 0px) { margin: @margin !important; }
.mt(@height: 0px) { margin-top: @height; }
.mt_i(@height: 0px) { margin-top: @height !important; }
.mr(@height: 0px) { margin-right: @height; }
.mr_i(@height: 0px) { margin-right: @height !important; }
.mb(@height: 0px) { margin-bottom: @height; }
.mb_i(@height: 0px) { margin-bottom: @height !important; }
.ml(@height: 0px) { margin-left: @height; }
.ml_i(@height: 0px) { margin-left: @height !important; }
.hlh(@height: auto) { line-height: @height; height: @height; }
.bg_i(@attr) { background: @attr !important; }
.c_i(@color) { color: @color !important; }
.w_i(@width: auto) { width: @width !important; }
.h_i(@height: auto) { height: @height !important; }
.tl(@top: 0,@left: 0) { top: @top; left: @left; }
.rb(@right: 0,@bottom: 0) { right: @right; bottom: @bottom; }
.absolute{ position: absolute; }
.absolute(@top,@left) { position: absolute; top: @top; left: @left; }
.absolute_tl(@top,@left) { .absolute(@top, @left); }
.absolute_rb(@right,@bottom) { position: absolute; right: @right; bottom: @bottom; }
.absolute_tr(@top,@right) { position: absolute; right: @right; top: @top; }
.absolute_lb(@left,@bottom) { position: absolute; left: @left; bottom: @bottom; }
.relative{ position: relative; }
.relative(@top,@left) { position: relative; top: @top; left: @left; }
.relative_tl(@top,@left) { position: relative; top: @top; left: @left; }
.relative_rb(@right,@bottom) { position: relative; right: @right; bottom: @bottom; }
.relative_tr(@top,@right) { position: relative; right: @right; top: @top; }
.relative_lb(@left,@bottom) { position: relative; left: @left; bottom: @bottom; }
.fixed{ position: fixed; }
.fixed(@top,@left) { position: fixed; top: @top; left: @left; }
.fixed_tl(@top,@left) { .fixed(@top, @left); }
.fixed_rb(@right,@bottom) { position: fixed; right: @right; bottom: @bottom; }
.fixed_tr(@top,@right) { position: relative; right: @right; top: @top; }
.fixed_lb(@left,@bottom) { position: relative; left: @left; bottom: @bottom; }
.h_min(@height: 1px) { min-height: @height; }
.h_max(@height: 1px) { max-height: @height; }
.w_min(@width: 1px) { min-width: @width; }
.w_max(@width: 1px) { max-width: @width; }
.flex{ display: flex; flex-direction: row; flex-wrap: wrap; }
.boxShadow(@x: 0px,@y: 0px,@blur: 0px,@spread: 0px,@color: #000) {
	box-shadow: @x @y @blur @spread @color;
	-moz-box-shadow: @x @y @blur @spread @color;
	-webkit-box-shadow: @x @y @blur @spread @color;
}
.insetShadow(@x: 0px,@y: 0px,@blur: 0px,@spread: 0px,@color: #000) {
	box-shadow: inset @x @y @blur @spread @color;
	-moz-box-shadow: inset @x @y @blur @spread @color;
	-webkit-box-shadow: inset @x @y @blur @spread @color;
}
small, .small{ font-size: 0.8em; }
big, .big{ font-size: 1.2em; }
label{ cursor: pointer; }
input.err, select.err, textarea.err{ border: 1px solid #f00; background: #f2dede; color: #b94a48; }
input[type=submit]{ .pointer; }
.text-border(@color) { text-shadow: -1px -1px 0 @color, 1px -1px 0 @color, -1px 1px 0 @color, 1px 1px 0 @color; }
.block{ display: block; }
.inlineBlock{ display: inline-block; zoom: 1; *display: inline; }
.tac{ text-align: center; }
.tal{ text-align: left; }
.tar{ text-align: right; }
.taj{ text-align: justify; }
.vam{ display: table-cell; vertical-align: middle; }
.vat{ display: table-cell; vertical-align: top; }
.vab{ display: table-cell; vertical-align: bottom; }
.i{ font-style: italic; }
.italic{ font-style: italic; }
.b{ font-weight: bold; }
.bold{ font-weight: bold; }
.u{ text-decoration: underline; }
.underline{ text-decoration: underline; }
.uNot{ text-decoration: none; }
.strike{ text-decoration: line-through; }
.lower{ text-transform: lowercase; }
.capitalize{ text-transform: capitalize; }
.upper{ text-transform: uppercase; }
.nowrap{ white-space: nowrap; }
.noWrap{ white-space: nowrap; }
.hide{ display: none; }
.show{ display: block; }
.pointer{ cursor: pointer; }
.crosshair{ cursor: crosshair; }
.fs(@fs) { font-size: @fs; }
.fs8{ font-size: 8px }
.fs9{ font-size: 9px }
.fs10{ font-size: 10px }
.fs11{ font-size: 11px }
.fs12{ font-size: 12px }
.fs13{ font-size: 13px }
.fs14{ font-size: 14px }
.fs15{ font-size: 15px }
.fs16{ font-size: 16px }
.fs17{ font-size: 17px }
.fs18{ font-size: 18px }
.fs19{ font-size: 19px }
.fs20{ font-size: 20px }
.fs21{ font-size: 21px }
.fs22{ font-size: 22px }
.fs23{ font-size: 23px }
.fs24{ font-size: 24px }
.fs25{ font-size: 25px }
.fs26{ font-size: 26px }
.fs27{ font-size: 27px }
.fs28{ font-size: 28px }
.fs36{ font-size: 36px }
.fs48{ font-size: 48px }
.fs72{ font-size: 72px }
.lh(@lh) { line-height: @lh; }
.lh8{ line-height: 8px }
.lh9{ line-height: 9px }
.lh10{ line-height: 10px }
.lh11{ line-height: 11px }
.lh12{ line-height: 12px }
.lh13{ line-height: 13px }
.lh14{ line-height: 14px }
.lh15{ line-height: 15px }
.lh16{ line-height: 16px }
.lh17{ line-height: 17px }
.lh18{ line-height: 18px }
.lh19{ line-height: 19px }
.lh20{ line-height: 20px }
.lh21{ line-height: 21px }
.lh22{ line-height: 22px }
.lh23{ line-height: 23px }
.lh24{ line-height: 24px }
.lh25{ line-height: 25px }
.lh26{ line-height: 26px }
.lh27{ line-height: 27px }
.lh28{ line-height: 28px }
.lh36{ line-height: 36px }
.lh48{ line-height: 48px }
.lh72{ line-height: 72px }
.w(@width: auto) { width: @width; }
.w5{ width: 5px; }
.w10{ width: 10px; }
.w15{ width: 15px; }
.w20{ width: 20px; }
.w25{ width: 25px; }
.w30{ width: 30px; }
.w35{ width: 35px; }
.w40{ width: 40px; }
.w45{ width: 45px; }
.w50{ width: 50px; }
.w55{ width: 55px; }
.w60{ width: 60px; }
.w65{ width: 65px; }
.w70{ width: 70px; }
.w75{ width: 75px; }
.w80{ width: 80px; }
.w85{ width: 85px; }
.w90{ width: 90px; }
.w95{ width: 95px; }
.w100{ width: 100px; }
.w105{ width: 105px; }
.w110{ width: 110px; }
.w115{ width: 115px; }
.w120{ width: 120px; }
.w125{ width: 125px; }
.w130{ width: 130px; }
.w135{ width: 135px; }
.w140{ width: 140px; }
.w145{ width: 145px; }
.w150{ width: 150px; }
.w155{ width: 155px; }
.w160{ width: 160px; }
.w165{ width: 165px; }
.w170{ width: 170px; }
.w175{ width: 175px; }
.w180{ width: 180px; }
.w185{ width: 185px; }
.w190{ width: 190px; }
.w195{ width: 195px; }
.w200{ width: 200px; }
.w225{ width: 225px; }
.w250{ width: 250px; }
.w275{ width: 275px; }
.w300{ width: 300px; }
.w325{ width: 325px; }
.w350{ width: 350px; }
.w375{ width: 375px; }
.w400{ width: 400px; }
.w425{ width: 425px; }
.w450{ width: 450px; }
.w475{ width: 475px; }
.w500{ width: 500px; }
.w600{ width: 600px; }
.w700{ width: 700px; }
.w800{ width: 800px; }
.w900{ width: 900px; }
.w1000{ width: 1000px; }
.w5p{ width: 5%; }
.w10p{ width: 10%; }
.w15p{ width: 15%; }
.w20p{ width: 20%; }
.w25p{ width: 25%; }
.w30p{ width: 30%; }
.w35p{ width: 35%; }
.w40p{ width: 40%; }
.w45p{ width: 45%; }
.w50p{ width: 50%; }
.w55p{ width: 55%; }
.w60p{ width: 60%; }
.w65p{ width: 65%; }
.w70p{ width: 70%; }
.w75p{ width: 75%; }
.w80p{ width: 80%; }
.w85p{ width: 85%; }
.w90p{ width: 90%; }
.w95p{ width: 95%; }
.w100p{ width: 100%; }