@media only screen and (max-width: 1635px) {
	#content_pack{
		.calendar{
			width: 90%;
			#calendar-panel{
				width: 235px;
			}
			#drive-calendar{
				width: 70%;
			}
		}
	}
}
@media only screen and (max-width: 900px) {
	#content_pack{
		.calendar{
			#drive-calendar{
				width: 65%;
			}
		}
	}
}
@media only screen and (max-width: 750px) {


	#head_pack{
		h1{
			display: none;
		}
		height: 35px;
		#top_head{
			display: none;
		}

		#menu_pack{
			margin-top: 0;
		}
	}

	#content_pack{
		top: 50px;
		#table_pagination, .admin_pages{
			width: 98%;
		}
		.calendar{
			width: 98%;
			#calendar-panel{
				width: 100%;
			}
			#drive-calendar{
				margin-top: 20px;
				width: 100%;
			}
		}
	}
}

@media only screen and (max-height: 800px) {
	#head_pack{
		h1{
			display: none;
		}

		height: 35px;

		#top_head{
			display: none;
		}

		#menu_pack{
			margin-top: 0;
		}
	}

	#content_pack{
		top: 50px;
	}
}
