/* 
    Created on : 3.3.2014, 12:20:51
    Author     : Radim
*/
@import "/../bootstrap/bootstrap.less";
@import "fce.less";
@borderGray: #C0C0C0;

.flash {
				width:40%;
				margin: 0 auto 0;
				margin-bottom: 10px;
				text-align: center;
}
input[type="checkbox"]{
				margin: 4px 5px 0;
}
.cleaner
{
	clear: both;
}